@using FullLearn.Data.Entities.User
@model User


<div style="direction:rtl;padding:20px">
    <h2>@Model.UserName عزیز</h2>
    <p>به خانواده فول لرن خوش آمدید جهت ادامه کار باید حساب کاربری خود را فعال کنید.</p>
    <p>
        <a href="https://localhost:44340/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>